<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        语文素材管理系统
    </title>
    {% load static %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <div class="main-header">
        <div class="main-title">语文素材管理系统</div>
        {% block welcome_message %}
        {% endblock %}
    </div>
    <div class="login-container">
        {% block login_container %}
        {% endblock %}
    </div>
</div>
</body>
</html>
